body{
    margin:0;
    background-image: url(numbers.jpg);
    background-size: cover;
    font-family: 'Inter', sans-serif;
}

#main{
    width: 450px;
    height:450px;
    background-color: #1F2937;
    margin: 20px auto;
    padding:80px;
}

.fixing{
    width: 375px;
}
#title{
    font-weight: 800px;
    font-size: 40px;
    color:white;
    margin-bottom:10px;
}
span{
    color:#4ADF86;
}

#description{
    color:#D5D4D8;
    font-size: 20px;
    margin-bottom:50px;
    margin-top: 0;
}
button{
    color: white;
    background-color: #10b77f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding:8px 12px;
    font-weight: 500;
    font-size:16px;
    margin-bottom: 40px;
}
button:active{
    color: #10b77f;
    background-color: white;
}


.break{
    border: 1px solid #2F3E53;
    margin:0 auto;
}

#password-section{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.passwordfield{
    background-color: #273549;
    width:210px;
    height:25px;
    padding: 5px 0;
    color:#4ADF86;
    font-weight: 500;
    text-align: center;
    border-radius: 5px;
}